{% extends 'base.html.twig' %}

{% block title %} Clemence - {{ name }} {% endblock %}

{% block contenu1 %}
    <!-- Main -->
    <main role="main">

        <!-- Container -->
        <div class="container">

            <div class="fh5co-spacer fh5co-spacer-md"></div>
            <div class="col-md-12">
                <h2 class="fh5co-uppercase-heading-sm text-center">Qui sommes-nous ?</h2>
            </div>
            <div class="fh5co-spacer fh5co-spacer-md"></div>
            <!-- row -->
            <div class="row">
                <div class="col-md-3">
                    <h2 class="fh5co-heading-with-border">L'équipe <span class="fh5co-border"></span> </h2>
                    <p>Nous sommes 5 étudiants, tous en école d’ingénieur à Paris.
                        Nous avons également tous la volonté de changer le système des prêts en proposant une nouvelle façon de se prêter de l’argent au sein de votre communauté.  Nous vous garantissons une plateforme simple d’utilisation et bien sûr, sécurisée.
                    </p>
                    <!--<p><a href="#" class="btn btn-primary btn-sm">Visit Project</a></p>-->

                </div>
                <div class="col-md-9 col-md-push-1">
                    <figure class="fh5co-with-caption">
                        <img src="images/equipe.png" alt="Image" class="img-responsive">
                    </figure>
                </div>

            </div>
            <!-- row -->
        </div>
        <!-- Container -->

        <!-- Spacer -->
        <div class="fh5co-spacer fh5co-spacer-md"></div>

    </main>
    <!-- Main -->
{% endblock %}