{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p class="form-login">{{ 'Inscription confirmée'|trans({'%username%': user.username}) | convert_encoding('UTF-8', 'ISO-8859-1') }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
