{% extends 'base.html.twig' %}

{% block title %} Clemence - {{ name }} {% endblock %}

{% block contenu %}
<!-- Main -->
<main role="main">

    <!-- Latest Project -->
    <div id="fh5co-latest-project">
        <div class="container">
            <div class="row">
                <!--
                <div class="col-md-8">
                    <figure>
                        <img src="images/img_2.jpg" alt="Image" class="img-responsive">
                    </figure>
                </div>
                -->
                <div>
                    <section>
                        <h5 class="text-muted text-uppercase fh5co-no-margin-bottom fh5co-letter-space">Bienvenue parmi nous</h5>
                        <br class="fh5co-spacer fh5co-spacer-xxs">
                        <h2 class="fh5co-heading"><span class="fh5co-border"></span>Clemence redéfini le secteur des prêts d’argents en proposant une alternative simple, sécurisée et solidaire ! </h2>
                        <p>Les intérêts que vous payez aujourd’hui quand vous contractez un prêt permettent de couvrir les défauts de paiement des autres… Chez Clemence nous trouvons que cela n’est pas normal que ce soit les bons emprunteurs qui payent pour les mauvais.</p>
                        <p>Clemence est une plateforme qui simplifie et sécurise les prêts d’argents entre proches. Les demandeurs y créent leur page de projet et l’envoient aux personnes de leur entourage, et celles-ci peuvent choisir de participer du montant de leur choix. S’ils acceptent, notre procédure prend en charge les mesures administratives et sécuritaires afin que chacun y trouve son compte : le demandeur finance son projet et le prêteur lui permet d’exister, tout en étant assuré d’être remboursé.</p>
                        <!--
                        <h5 class="text-muted text-uppercase fh5co-no-margin-bottom fh5co-letter-space">Titre contenu page d'accueil</h5>
                        <br class="fh5co-spacer fh5co-spacer-xxs">
                        <h2 class="fh5co-heading-with-border"><span class="fh5co-border"></span>Une jeune pousse de la fintech lève 500 MILLIARDS MAGGLE</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa doloribus molestias, explicabo itaque, quos consequatur quam, tempore enim voluptatum nulla quas iusto voluptate quae modi commodi maiores voluptatibus perspiciatis aut! Lorem ipsum.</p>

                        <p><a href="#" class="fh5co-link"><i class="fa fa-angle-right"></i> Voir les projets publiques</a></p>
                        -->
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- Latest Project -->
    <!--<hr class="fh5co-spacer fh5co-spacer-sm">-->
    <!-- Crew -->
    <!--<div id="fh5co-crew">
        <div class="container">
            <div class="fh5co-section-heading">
                <h2>Our Crew</h2>
                <h3 class="text-center">We are, engineers, thinkers, innovators, intrepreneurs who love doing things that benefits human being. </h3>
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <figu	re><a href="#"><img src="images/crew_1.jpg" alt="Image" class="img-responsive"></a></figure>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <figure><a href="#"><img src="images/crew_2.jpg" alt="Image" class="img-responsive"></a></figure>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <figure><a href="#"><img src="images/crew_3.jpg" alt="Image" class="img-responsive"></a></figure>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <figure><a href="#"><img src="images/crew_4.jpg" alt="Image" class="img-responsive"></a></figure>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <figure><a href="#"><img src="images/crew_5.jpg" alt="Image" class="img-responsive"></a></figure>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <figure><a href="#"><img src="images/crew_6.jpg" alt="Image" class="img-responsive"></a></figure>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <figure><a href="#"><img src="images/crew_7.jpg" alt="Image" class="img-responsive"></a></figure>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <figure><a href="#"><img src="images/crew_8.jpg" alt="Image" class="img-responsive"></a></figure>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <figure><a href="#"><img src="images/crew_9.jpg" alt="Image" class="img-responsive"></a></figure>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <figure><a href="#"><img src="images/crew_10.jpg" alt="Image" class="img-responsive"></a></figure>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <figure><a href="#"><img src="images/crew_11.jpg" alt="Image" class="img-responsive"></a></figure>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <figure><a href="#"><img src="images/crew_12.jpg" alt="Image" class="img-responsive"></a></figure>
                </div>
                <div class="clearfix visible-sm-block"></div>
            </div>
        </div>
    </div>-->
    <!-- Crew -->

    <!-- Recent Blog -->
    <!--
    <div id="fh5co-blog">
        <div class="container">
            <div class="fh5co-section-heading">
                <h2 class="text-muted">Our Journal</h2>
                <h3 class="text-center">Our fresh &amp; advanced thinking published.</h3>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <article class="fh5co-post-entry">
                        <span class="fh5co-blog-date">07.17.2015</span>
                        <h3 class="fh5co-blog-title fh5co-heading-with-border"><a href="#">Getting Ready for PHP 7</a> <span class="fh5co-border fh5co-border-gray"></span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui id accusantium quisquam autem. Illo maxime, earum possimus tenetur, impedit veritatis.</p>
                        <p><a href="#" class="fh5co-link"><i class="fa fa-angle-right"></i> Read More</a></p>
                    </article>
                </div>
                <div class="col-md-3 col-sm-6">
                    <article class="fh5co-post-entry">
                        <span class="fh5co-blog-date">07.17.2015</span>
                        <h3 class="fh5co-blog-title fh5co-heading-with-border"><a href="#">7 Node.js Tutorials</a> <span class="fh5co-border fh5co-border-gray"></span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui id accusantium quisquam autem. Illo maxime, earum possimus tenetur, impedit veritatis.</p>
                        <p><a href="#" class="fh5co-link"><i class="fa fa-angle-right"></i> Read More</a></p>
                    </article>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-3 col-sm-6">
                    <article class="fh5co-post-entry">
                        <span class="fh5co-blog-date">07.17.2015</span>
                        <h3 class="fh5co-blog-title fh5co-heading-with-border"><a href="#">Designing Icons for Detailed Product Features</a> <span class="fh5co-border fh5co-border-gray"></span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui id accusantium quisquam autem. Illo maxime, earum possimus tenetur, impedit veritatis.</p>
                        <p><a href="#" class="fh5co-link"><i class="fa fa-angle-right"></i> Read More</a></p>
                    </article>
                </div>
                <div class="col-md-3 col-sm-6">
                    <article class="fh5co-post-entry">
                        <span class="fh5co-blog-date">07.17.2015</span>
                        <h3 class="fh5co-blog-title fh5co-heading-with-border"><a href="#">SVG Advance Techniques</a> <span class="fh5co-border fh5co-border-gray"></span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui id accusantium quisquam autem. Illo maxime, earum possimus tenetur, impedit veritatis.</p>
                        <p><a href="#" class="fh5co-link"><i class="fa fa-angle-right"></i> Read More</a></p>
                    </article>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Recent Blog -->


</main>
<!-- Main -->
{% endblock %}

{% block appelauxarmes %}
    <!-- Call to action -->
    <div class="fh5co-call-to-action" style="background-image: url(images/img_wide_1.jpg); background-position: center center;">
        <div class="fh5co-overlay"></div>
        <div class="container">
            <div class="fh5co-call-to-action-wrap">
                <div class="fh5co-call-to-action-inner text-center">
                    <h3 class="fh5co-call-to-action-text">Laissez-nous vous aider.</h3>
                    <a href="#" class="btn btn-primary btn-lg">C'est parti !</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Call to action -->
{% endblock %}

{% block contenu1 %}
    <!-- Container -->
    <div class="container">
        <div class="row">
            <!--<h2 class="fh5co-uppercase-heading-sm text-center">Slider</h2>-->
            <!--<div class="fh5co-spacer fh5co-spacer-sm"></div>-->

            <div class="col-md-12">
                <div class="owl-carousel owl-carousel-fullwidth">
                    <div class="item"><img src="{{ asset('images/douzefrancais.png') }}" alt="image"></div>
                    <div class="item"><img src="{{ asset('images/SSS.png') }}" alt="image"></div>
                    <div class="item"><img src="{{ asset('images/Avantages.png') }}" alt="image"></div>
                    <!--<div class="item"><img src="images/img_large_4.jpg" alt="image"></div>
                    <div class="item"><img src="images/img_large_5.jpg" alt="image"></div>
                    <div class="item"><img src="images/img_large_6.jpg" alt="image"></div>
                    <div class="item"><img src="images/img_large_7.jpg" alt="image"></div>-->

                </div>
            </div>
        </div>
    </div>
    <!-- Container -->
    <div class="fh5co-spacer fh5co-spacer-md"></div>
{% endblock %}