{% extends 'base.html.twig' %}

{% block title %} Clemence - {{ name }} {% endblock %}

{% block contenu %}
    <main role="main">

        <!-- Latest Project -->
        <div id="fh5co-latest-project">
            <div class="container">
                <div class="row">

                    <div>
                        <section>
                            {% include "AppBundle:Profile:edit_content.html.twig" %}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock  %}
