{% extends 'base.html.twig' %}

{% block title %} Clemence - {{ name }} {% endblock %}

{% block contenu %}

<!-- Main -->
    <main role="main">

        <!-- Container -->
        <div class="container project">
        

            <!-- row -->
            <div class="row">
                <div class="col-md-3">
                    <h2 class="fh5co-heading-with-border">Création du projet de {{project.author.username}} <span class="fh5co-border"></span> </h2>

  					{{ include("ProjectBundle:Project:form.html.twig") }}

                </div>

            </div>
            <!-- row -->
        </div>
        <!-- Container -->

    </main>
    <!-- Main -->

{% endblock %}