{% block body %}

  <h2>Création du projet de {{project.author}}</h2>

  {{ include("ProjectBundle:Project:form.html.twig") }}

  <p>
    Attention : ce projet sera ajouté directement
    sur la page d'accueil après validation du formulaire.
  </p>
    
{% endblock %}